* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Goldman", cursive;
}

html {
  background: #2d2a99;
  min-height: 100vh;
}

.container {
  border-radius: 5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container > div {
  background-color: #121061;
  color: #3edbf0;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  padding: 100px;
  font-size: 6rem;
  font-weight: bold;
  box-shadow: 0 0 18px 3px #3edbf0;
}

.divider {
  font-size: 4rem;
  font-weight: bold;
  color: white;
  margin: 10px;
}

.session {
  color: #77acf1;
  margin-left: 20px;
  font-size: 5rem;
  font-weight: bold;
}
